Create A List

In [1]:
li = []

In [2]:
li = [1,2,3]

In [3]:
type(li)

list

In [4]:
li = [1, 2, "Parikh", 3.4]

In [5]:
li

[1, 2, 'Parikh', 3.4]

Access and change element in the list

In [6]:
li[1]

2

In [7]:
li[2]

'Parikh'

In [8]:
li[3]

3.4

In [9]:
li[4]

IndexError: list index out of range

In [10]:
li[0]

1

In [11]:
li[0] = 5

In [12]:
li

[5, 2, 'Parikh', 3.4]

In [13]:
li[3] = "Rohan"

In [14]:
li

[5, 2, 'Parikh', 'Rohan']

In [15]:
li[4] = 2.6

IndexError: list assignment index out of range

Slicing of List

In [16]:
li[1:3]

[2, 'Parikh']

In [17]:
li[1:]

[2, 'Parikh', 'Rohan']

In [18]:
li[:]

[5, 2, 'Parikh', 'Rohan']

In [19]:
li[1:10]

[2, 'Parikh', 'Rohan']

Insert and Append Element to List

In [20]:
li.append("Ankush")

In [21]:
li

[5, 2, 'Parikh', 'Rohan', 'Ankush']

In [22]:
li.insert(1, 7)

In [23]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush']

In [24]:
li.insert(6, 9.4)

In [25]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 9.4]

In [26]:
li.insert(9, "Karan")

In [27]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 9.4, 'Karan']

In [28]:
li.append([9, 10, 11])

In [29]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 9.4, 'Karan', [9, 10, 11]]

In [30]:
li.extend([9, 10, 11])

In [31]:
li

[5, 7, 2, 'Parikh', 'Rohan', 'Ankush', 9.4, 'Karan', [9, 10, 11], 9, 10, 11]

Removing Elements from List

In [33]:

li.remove(2)

In [34]:
li

[5, 7, 'Parikh', 'Rohan', 'Ankush', 9.4, 'Karan', [9, 10, 11], 9, 10, 11]

In [35]:
li.append(5)

In [36]:
li

[5, 7, 'Parikh', 'Rohan', 'Ankush', 9.4, 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [37]:
li.remove(5)

In [38]:
li

[7, 'Parikh', 'Rohan', 'Ankush', 9.4, 'Karan', [9, 10, 11], 9, 10, 11, 5]

In [39]:
li.remove(6)

ValueError: list.remove(x): x not in list

In [40]:
li.pop()

5

In [41]:
li.pop

In [42]:
li.pop()

11

In [43]:
li

[7, 'Parikh', 'Rohan', 'Ankush', 9.4, 'Karan', [9, 10, 11], 9, 10]

In [44]:
li.pop(4)

9.4

In [45]:
li

[7, 'Parikh', 'Rohan', 'Ankush', 'Karan', [9, 10, 11], 9, 10]

In [46]:
li.pop(18)

IndexError: pop index out of range

In [47]:
li.pop(4)

'Karan'

In [48]:
li

[7, 'Parikh', 'Rohan', 'Ankush', [9, 10, 11], 9, 10]

In [49]:
len(li)

7